


body {
    background-color:#f3f3f399;
    margin:0;
   
}

h1 {
    font-family: Helvetica, Arial, sans-serif;
    font-weight:bold;
    font-size:6rem;
    line-height:0.8;
    margin:0;
}


p {
    font-family: Helvetica, Arial, sans-serif;
    font-weight:normal;
    margin:5vh 0 0 0;
}

a{
    color:unset;
    text-decoration:unset;
}

    a:hover {
        color: #93B832;
        transition:color 200ms ease-in;
    }

@keyframes FadeImgOne 
{
    0% {
        background-image: linear-gradient(to right, black, black), url("images/bannerBackgroundOne.png");
        
    }
    100% {
        background-image: linear-gradient(to right, #00182E, #00182E00), url("images/bannerBackgroundOne.png");
    }
}

@keyframes FadeImgTwo {
    0% {
        background-image: linear-gradient(to right, black, black), url("images/bannerBackgroundTwo.png");
    }

    100% {
        background-image: linear-gradient(to right, #00182E, #00182E00), url("images/bannerBackgroundTwo.png");
    }
}

.bannerOne {
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    max-height: 940px;
    background-image: linear-gradient(to right, #00182E, #00182E00), url("images/bannerBackgroundOne.png");
    background-position: 100% center;
    background-size: cover;
    background-repeat: no-repeat;
    animation: FadeImgOne 800ms;
}

.bannerTwo {
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    max-height: 940px;
    background-image: linear-gradient(to right, #00182E, #00182E00), url("images/bannerBackgroundTwo.png");
    background-position: 100% center;
    background-size: cover;
    background-repeat: no-repeat;
    animation: FadeImgTwo 800ms;
}


.navBar {
    min-height: 100px;
    height: auto;
    width: calc(100% - 78px);
    background-color: transparent;
    padding: 0px 39px 10px 39px;
    transition: background-color 300ms;
}

.navBarOpen {
    min-height: 100px;
    height: auto;
    width: calc(100% - 78px);   
    padding: 0px 39px 10px 39px;
    background-color: #FFF;
    transition:background-color 300ms;
}


.stickyNavBar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
    min-height: 100px;
    height: auto;
    width: calc(100% - 78px);
    background-color: #FFF;  
    padding: 0px 39px 10px 39px;
}

.navContent {
    min-height:100px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-direction:row;
}

.logo {
    height: 33px;
    width: 33%;
    padding: 3px 0px 3px 0px;
}

.logoOpen {
    height: 33px;
    width: 33%;
    padding: 3px 0px 3px 0px;
}

.logo img{
    height:100%;
    width:auto;
}

.nav {
    height: 33px;
    width: 33%;   
    padding: 5px 0px 3px 0px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-evenly;
}

.navButtons {
    color: #FFFFFF;
    font-family: Helvetica, Arial, sans-serif;
    font-size:14px;
    margin: 0;
    padding:0;
    width:100%;
    display:flex;
    justify-content:space-evenly;  
   
}


    .navButtons li {
        display: inline;
        
    }

.searchContact {
    height: 33px;
    width: 33%;    
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 3px 0px 3px 0px;
}


.searchInput
{
    height:100%;
    width:70%;
    padding:0px 5px 0px 0px;
    display:flex;
    justify-content:flex-end;
    box-sizing:border-box;
}

    .searchInput input {
        height: 100%;
        width: 35px;
        background-image: url("images/search.png");
        background-position: center center;
        background-repeat: no-repeat;
        background-color: #00172D;
        border-radius: 25px;
        outline: none;
        border: none;
        transition: width 300ms ease-in, background-position 250ms ease-in, max-width 300ms ease-in;
        
    }

        .searchInput input:hover {
            height: 100%;
            width: 220px;            
            background-image: url("images/search.png");
            background-position: 2% center;
            background-repeat: no-repeat;
            background-color: #00172D;
            outline: none;
            border: none;
            transition: width 300ms ease-out,background-position 250ms ease-out;            
           
        }

        .searchInput input:focus {
            height: 100%;
            width: 220px;           
            background-image: url("images/search.png");
            background-image: url("images/search.png");
            background-position: 2% center;
            background-repeat: no-repeat;
            background-color: #00172D;
            padding: 0px 5px 0px 25px;
            color: #FFFFFF;
            outline: none;
            border: none;
        }


.contact {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight:bold;
    width: 130px;
    height: 100%;
    background-color: #93B832;
    display: flex;
    justify-content: space-between;
    padding: 0px 10px 0px 10px;
    box-sizing: border-box;
    align-items: center;
    border-radius: 25px;
    color: white;
    cursor: pointer;
}
.expandedNav {
    position:absolute;
    top:110px;
    right:0;
    left:0;
    height: 0vh;
    width: 100%;
    background-color: #FFF;
    visibility:hidden;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex: 0 0 100%;
    padding: 0px 0px 0px 0px;
    transition: height 300ms , visibility 300ms;
}

.expandedNavOpen {
    position: absolute;
    top: 110px;
    right: 0;
    left: 0;
    z-index: 3;
    height: 50vh;
    width: 100%;
    background-color: #FFF;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex: 0 0 100%;
    padding: 0px 0px 0px 0px;
    transition: height 300ms;
}





.expandedNavContent {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    opacity: 0;
    transition: opacity 100ms ease-out;
}

.expandedNavContentVisible {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    opacity: 1;
    transition:opacity 300ms ease-out;
    transition-delay:300ms;
}


.subNavLinks {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

    .subNavLinks li {
        font-family: Helvetica, Arial, sans-serif;
        font-size:14px;
        list-style-type: none;
        margin-bottom: 10px;
    }



    .subNavBanner {
        height:100%;
        width:50%;
        display:flex;
        flex-direction:column;
        justify-content:center;
        align-items:flex-start;
    }
        .subNavBanner p {
            font-family: Helvetica, Arial, sans-serif;
            margin: 0;
        }
        .subNavBanner p:nth-child(3){
            color:#8a8a8aff;
        }


.subNavBanner img {
    width:50%;
    }



.textContent {
    width: 100%;
    height: calc(100% - 100px);
    color: #FFFFFF;
    box-sizing: border-box;
    padding: 12vh 0vw 0vh 8vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}


.textContent p {
    width:40%;
    max-width:450px;
    
}

@keyframes fadeInContent {
    0% {
        opacity: 0
    }

    100% {
        opacity: 1
    }
}

.contentElementsActive{
    
    animation:fadeIn 1s;
}

.contentElements {
   animation:fadeInContent 1s;
}


.findOutMore {
    width: 20%;
    max-width: 250px;
    height: 45px;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-image: url("images/findOutMoreArrow.png");
    background-repeat: no-repeat;
    background-position-x: 68%;
    background-position-y: center;
    background-size: 35px;
    cursor: pointer;
}

    .findOutMore:hover {
        width: 20%;
        max-width: 250px;
        height: 45px;
        margin: 0;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        background-image: url("images/findOutMoreArrow.png");
        background-repeat: no-repeat;
        background-position-x: 80%;
        background-position-y: center;
        background-size: 35px;
        cursor: pointer;        
        transition: background-position-x 300ms ease-out;
    }



    .findOutMore p {
        width:100%;
        position:relative;
        margin: 0;        
        font-weight:bold;
    }

        .findOutMore p::after {
            width: 100%;
            margin: 0;
            content: '';
            position: absolute;
            display: block;
            bottom: -3px;
            left: 0;
            width: 43%;
            border-bottom: 2px solid #FFFFFF;
        }

        .caruselIcons{
            width:10%;
            max-width:100px;
            display:flex;

        }

@keyframes fadeIn 
{
    0%{opacity: 0}
    100%{opacity: 1}
}

.fade {
    animation-name: fadeIn;
    animation-duration: 1s;
    
}

.slideIcon {
    width: 30%;
    border: 3px solid #FFFFFF;
    border-radius: 25px;
    margin: 10vh 2px 0px 2px;
    cursor: pointer;
    opacity: 0.6;
}


.slideIconActive {
    width: 30%;
    border: 3px solid #FFFFFF;
    border-radius: 25px;
    margin: 10vh 2px 0px 2px;
    cursor: pointer;
    opacity: 1;    
}


.textSlide{
    display:none;
}

.textSlideActive
{
    display:block;
}

.bodyContent{

    height:50vh;
    width:50vw;
}        